<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145917683383-v7nbkltqg2l00n8kc25k8o27junal7u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145917683383-v7nbkltqg2l00n8kc25k8o27junal7u3</string>
	<key>API_KEY</key>
	<string>AIzaSyCQok3HaiAotDvZDO6UkNuuPHpweBayhYI</string>
	<key>GCM_SENDER_ID</key>
	<string>145917683383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample</string>
	<key>PROJECT_ID</key>
	<string>sample-b8365</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-b8365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145917683383:ios:de4487e9a52e522bb1cf32</string>
</dict>
</plist>